body{
    background-color: white;
}
ul{
    display: flex;
    padding: 5px;
    list-style: none; 
    
}
li{
    padding-right: 10px;
   
}
li a{
    text-decoration: none;
}

.projects{
    display: flex;
    padding-left: 30px;
    flex-wrap: wrap;
    
}

.projects div{
    margin-right: 50px;
    border: 1px solid black;
    border-radius: 10px;

}

.Bodyimgs{
    display: flex;
    margin-left: 20px;
}

@media screen and (max-width:654px) {
    .Bodyimgs{
        flex-wrap: wrap;
        margin-left: 80px;
        background-color: rgb(222, 230, 230);
    }
    
}

.project{
    margin-bottom: 20px;
    margin-right: 30px;
    flex-wrap: wrap;
    border: 1px solid;
    border: none;
    border-radius: 50px  
}

.project img{
    object-fit: contain;
}

.projects p{
    margin-right: 5px;
}

.counter{
    margin-bottom: 2.5rem;
    background-color: rgb(180, 189, 186);
    height:170px ;
}
.counter h1{
    font-size: 30px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    color:#1d1c1c;
}
.btn{
    padding: 13px;
    text-align: center;
    justify-content: center;
}

.btn button{
    padding:15px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(7, 7, 7);
}

.btn button:hover{
    background-color: rgb(140, 212, 212);
}
